In [1]:
import pandas as pd

In [5]:
pd.read_csv("vertices.csv").head()

   StopId            Name   Latitude  Longitude
0       2  Parnell Square  53.352241  -6.263695
1       3  Parnell Square  53.352307  -6.263783
2       4  Parnell Square  53.352567  -6.264166
3       6  Parnell Square  53.352744  -6.264443
4       7  Parnell Square  53.352836  -6.264562

In [6]:
pd.read_csv("edges.csv").head()

   vertex1  vertex2  weight
0       10       12     465
1       10     7620   25885
2       10       18    1631
3       10      278    2792
4      100     1111     252